:root {
  --primary-color: #000;
  --accent-color: #eb028d;
  --accent-color-dark: #de0286;
  --primary-background-color: #f3f4f5;
  --default-background-color: #fff
}
@font-face {
  font-family: 'Futura New';
  font-style: normal;
  font-weight: 400;
  src: local('Futura New'), local('Futura'),
    url(https://www.revolut.com/static/FuturaNewBook-e2e59564eadbc8a9636de9d0b7acfa12.otf)
      format('otf');
  unicode-range: U+0100-024f, U+1-1eff, U+20a0-20ab, U+20ad-20cf, U+2c60-2c7f, U+A720-A7FF;
}

html,
body {
  font-family: 'Futura New', 'Futura', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
